@import "./node_modules/bootstrap/scss/bootstrap.scss";
body {
    background-color: #1e1e1e;
}
*{
    font-family: 'Inter', sans-serif;
}
.navbar-hero-container {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/hero-bg.jpg");
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
  }
}

.whyus-container{
  background-color: rgba(0,0,0, 0.6);
  z-index: 0;
}

.whyus-container{
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/whyus-bg.jpg");
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
  }
}

.navbar-custom {
  height: auto;
  background-color: rgba(42, 42, 42, 0.6);
  border-radius: 50px;
}

@media (min-width: 1200px) {
  .mt-5-on-xl{
    margin-top: 80px;
  }
  .min-height-50-on-xl{
    min-height: 50vh;
  }
}
@media (max-width: 768px) {
  .navbar-hero-container{
    height: auto;
  }
  .pb-5-on-sm{
    padding-bottom: 40px;
  }
  .whyus-container{
    height: auto;
  }
}
@media (max-width: 992px) {
  .whyus-container{
    height: auto;
  }
}
.quickpricing-container{
  background: #050505;
  background: linear-gradient(325deg, rgba(0, 0, 0, 1) 10%, rgba(10, 10, 10, 1) 20%, rgba(15, 15, 15, 1) 40%, rgba(21, 21, 21, 1) 70%, rgba(37, 37, 37, 1) 90%);
  min-height: 100vh;
}

.ratings-container {
  height: 100vh;
  background-image: url("/assets/ratings-bg.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}

.footer-container{
  background-color: #000;
}