@import "./node_modules/bootstrap/scss/bootstrap.scss";
body {
    background-color: #1e1e1e;
}
*{
    font-family: 'Inter', sans-serif;
}
.navbar-hero-container {
  position: relative;
  height: 100vh;
  background: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);
  background: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);

}

.whyus-container{
  position: relative;
  height: 100vh;
  background: linear-gradient(120deg, #111111 0%, #000000 100%);

}

.navbar-custom {
  height: auto;
  background-color: rgba(42, 42, 42, 0.6);
  border-radius: 50px;
}

@media (min-width: 1200px) {
  .mt-5-on-xl{
    margin-top: 80px;
  }
  .min-height-50-on-xl{
    min-height: 50vh;
  }
}
@media (max-width: 768px) {
  .navbar-hero-container{
    height: auto;
  }
  .pb-5-on-sm{
    padding-bottom: 40px;
  }
  .whyus-container{
    height: auto;
  }
}
@media (max-width: 992px) {
  .whyus-container{
    height: auto;
  }
}
.quickpricing-container{
  background: radial-gradient(circle at 30% 30%, #161616 0%, #000000 100%);
  min-height: 100vh;
}

.ratings-container {
  height: 100vh;
  background: linear-gradient(to bottom, #0f0f0f 0%, #000000 100%);
}

.footer-container{
  background: linear-gradient(to top, #000000, #0a0a0a);
}